<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title><br><br>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<br><br>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle-collapsed"
                    data-toggale="collapse" data-target="#navbar" aria-expended="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"> Your Personal Page </a>

            <form th:action="@{/nothing}" method="get"
                  style="max-width: 600px; margin : 0 auto"
            >
                <div class="m-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-md">Do Nothing</button>
                    </div>

                </div>

            </form>

            <form th:action="@{/log-out}" method="get"
                  style="max-width: 600px; margin : 0 auto"
            >
                <div class="m-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-info btn-md">Log Out</button>
                    </div>

                </div>

            </form>

        </div>
    </div>
</nav><br><br>


<div class="container"><br><br>
<h1>Welcome</h1>
    <br><br>
 <!--   Welcome <span sec:authentication="principal.username"> User </span>-->
</div>

</body>
</html>